/* Gaya umum untuk halaman */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #4caf50;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

/* buat pw */
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center; /* Sejajarkan tombol dan input password */
}

.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
    flex: 1;
    padding-right: 40px; /* Beri ruang untuk tombol di sebelah kanan */
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%; /* Tempatkan di tengah input */
    transform: translateY(-50%); /* Pastikan sejajar vertikal */
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #555;
}


